
body{
    width: 100%;
    height: 100vh;
    position: relative;
}

footer{
    position: absolute;
    bottom: -10vh;
    width: 100%;
}

@media(max-width: 620px){
    footer{
        bottom: -24vh;
    }
}

@media(max-width: 540px){
    footer{
        bottom: -28vh;
    }
}

main{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img{
    color: green;
}

.p1{
    color: green;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.p2{
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

.go{
    font-weight: bold;
    color: green;
    font-size: 19px;
    background-color: transparent;
    border: 3px solid green;
    padding: 5px 17px;
    border-radius: 25px;
    cursor: pointer;
}